body{
    background-color: brown;
}

.header{
    padding: 2%;
    background-color: aliceblue;
    font-size: 200px;
    
}

h1{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

p{
    color: black;
    text-align: center;
}